# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias de Node.js
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Archivos de compilación y salida
dist/
dist-ssr/
*.local
.vite/
.out/
build/
/android/

# Archivos de configuración específicos de herramientas
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de Sass y cache
.sass-cache/
*.scssc
*.map

# Archivos de entorno
.env
.env.local
.env.development
.env.production
.env.test

# Caché de Linting
.eslintcache

# Archivos generados por pruebas
coverage/
jest/
